fastapi==0.115.12
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistralai==1.7.0
mistune==3.1.2
numpy==2.2.4
pandas==2.2.3
python-dotenv==1.1.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
streamlit==1.45.0
uvicorn==0.34.2
